body {
  margin: 0;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  border: 4px solid #fff;
  background: linear-gradient(to bottom, #87CEEB, #fff);
  image-rendering: pixelated;
}